#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 99dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  span {
    color: #213547;
  }
  &:hover {
    span {
      color: #213547c8;
    }
  }
}

