body {
  margin: 0;
  display: flex;
  place-items: center;
  color: #f0f0f0;
  background-color: #2b3a4a;
}

header {
  min-height: 200px;
  margin-top: 5dvh;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-around;
  h1 {
    margin: 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

  }
  img {
    position: relative;
    top: -20px;
    scale: 90%;
  }
}

footer {
  font-size: smaller;
  color: #b0b0b0;
}
