.koblingContainer {
  border-radius: var(--a-border-radius-xlarge);

  a {
    font-weight: 500;
    text-decoration: inherit;
    color: #213547;
  }

  &:hover {
    color: #0c141a;
    background-color: #f7f7f7;
    text-decoration: underline;
  }

  .koblingLogo {
    background-color: #ffffff;
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
