.koblingContainer {
  border-radius: var(--a-border-radius-xlarge);
  width: 200px;
  height: 110px;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    text-decoration: inherit;
    color: #f0f0f0;
    span {
      min-width: 120px;
    }
  }

  &:hover {
    color: #0c141a;
    background-color: #1a2b3c;
    text-decoration: underline;
  }
}
