.koblingContainer {
  font-weight: 500;
  text-decoration: inherit;
  color: #213547;

  &:hover {
    color: #0c141a;
    background-color: #f7f7f7;
    text-decoration: underline;
  }

  .koblingLogo {
    background-color: #ffffff;
  }
}
